.index {
  width: 100%;
  background-image: url('public/top.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 30% 0 30% 0;

  &--items {
    display: flex;
    justify-content: space-around;
  }
}
