.works {
  margin-top: 10px;
  margin-bottom: 30px;

  &--history {
    color: #333;
    text-align: center;
    padding: 3px 0;
  }

  @media (min-width: 480px) {
    font-size: 18px;
    margin-bottom: 40px;
  }

  @media (min-width: 768px) {
    font-size: 25px;
    margin-bottom: 50px;
  }
}
